.bgimage{
    background-image:url('/images/bokeh_background.jpg') ;
    background-size: 100% 100%;
    background-attachment: fixed;

    width: 100%;
    height: 600px;
}
.headerset{
    padding-top: 200px;
    box-sizing: border-box;
}
.headerset h2{
    font-size: 40px;
}

.headerset h1{
    font-size: 60px;
}
button{
    margin-top: 20px;
}

.overservices{
    padding:200px 60px;
    height: 600px;
}